*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
li{
    list-style: none;
}
header{
    width: 100vw;
    height: 60px;
    background-color:rgba(2,2,2,0.8);
}
#conten{
    display: flex;
    height: calc(100vh - 105px);
    width: 100vw;
    flex-direction: row;
}
footer{
    height: 45px;
    width: 100vw;
    background-color: #936723;
}
#conten .left-menu{
    width: 240px;
    height: 100%;
    background-color: #442993;
}
#conten .data-zone{
    flex: 1;
    background-color: #998ffd;
}